P1_boston_housing/.ipynb_checkpoints/
P3_customer_segments/.ipynb_checkpoints/
P2_finding_donors/.ipynb_checkpoints/
P4_smartcab/.ipynb_checkpoints/
P5_image_classification/.ipynb_checkpoints/
P5_image_classification/cifar-10-batches-py/
P5_image_classification/cifar-10-python.tar.gz
P5_image_classification/preprocess_*
P5b_optional_letter_recognition/training_data/
P5b_optional_letter_recognition/testing_data/
P5b_optional_letter_recognition/.ipynb_checkpoints/
P5b_optional_letter_recognition/trained_model-0.data-00000-of-00001
P5b_optional_letter_recognition/trained_model-0.index
P5b_optional_letter_recognition/trained_model-0.meta
P5b_optional_letter_recognition/trained_model-10.data-00000-of-00001
P5b_optional_letter_recognition/trained_model-10.index
P5b_optional_letter_recognition/trained_model-10.meta
P5b_optional_letter_recognition/trained_model-20.data-00000-of-00001
P5b_optional_letter_recognition/trained_model-20.index
P5b_optional_letter_recognition/trained_model-20.meta
P5b_optional_letter_recognition/trained_model-29.data-00000-of-00001
P5b_optional_letter_recognition/trained_model-29.index
P5b_optional_letter_recognition/trained_model-29.meta
P5b_optional_letter_recognition/trained_model-30.data-00000-of-00001
P5b_optional_letter_recognition/trained_model-30.index
P5b_optional_letter_recognition/trained_model-30.meta
P5b_optional_letter_recognition/trained_model-40.data-00000-of-00001
P5b_optional_letter_recognition/trained_model-40.index
P5b_optional_letter_recognition/trained_model-40.meta
P5b_optional_letter_recognition/trained_model-50.data-00000-of-00001
P5b_optional_letter_recognition/trained_model-50.index
P5b_optional_letter_recognition/trained_model-50.meta
